run:
  # wandb_project: false
  wandb_tags: ["owt", "leaderboard"]

data:
  train_data_path: "/data/c-sniderb/tokens/owt-train/tokens.bin"
  valid_data_path: "/data/c-sniderb/tokens/owt-valid/tokens.bin"

model:
  d_model: 1024
  d_ff: 2688
  # d_ff: 4096
  num_heads: 16
  num_layers: 12
  context_length: 512
  vocab_size: 32_000
  weight_tying: true
  ffn_type: "swiglu"
  attn_impl: "normal" 
  # ffn_type: "silu"

optimizer:
  lr: 3.0e-3

# Total tokens = batch_size * max_steps * context_length
# 128 * 30_000 * 512 = 1,966,080,000 = 1.966B
# Required throughput = 1.966B tokens / 5400s = 364k tokens/s
# Current empirical throughput: 180k tokens/s

training:
  batch_size: 128
  max_steps: 30_000
  # max_steps: 1
  eval_interval: 1000
  eval_steps: 20
  # eval_steps: 1
  eval_batch_size: 128
  checkpoint_interval: 6_000
  # max_l2_norm: 1.0
  lr_max: 3.0e-3
  lr_min: 3.0e-4
  warmup_ratio: 0.05
