run:
  # wandb_project: false
  wandb_tags: ["owt", "leaderboard"]

data:
  train_data_path: "/data/c-sniderb/tokens/owt-train/tokens.bin"
  valid_data_path: "/data/c-sniderb/tokens/owt-valid/tokens.bin"

model:
  d_model: 1024
  d_ff: 2688
  # d_ff: 4096
  num_heads: 16
  num_layers: 12
  context_length: 512
  vocab_size: 32_000
  weight_tying: true
  ffn_type: "swiglu"
  # ffn_type: "silu"
  attn_impl: "normal" 

optimizer:
  lr: 5.0e-4
  betas: [0.9, 0.95]
  eps: 1.0e-8
  weight_decay: 0.001

# Total tokens = batch_size * max_steps * context_length
# 128 * 16_000 * 512 = 1,048,576,000 = 1.048B
# Required throughput = 1.048B tokens / 5400s = 194k tokens/s
# Current empirical throughput: 200k tokens/s (max. 1,080,000,000 = 1.080B total)

training:
  batch_size: 128
  max_steps: 16_000
  # max_steps: 1
  eval_interval: 2_000
  eval_steps: 25
  # eval_steps: 1
  eval_batch_size: 128
  checkpoint_interval: 15_000
  # max_l2_norm: 1.0
  lr_max: 5.0e-4
  lr_min: 1.7e-4
  warmup_ratio: 0.01
  cosine_cycle_iters: 18_000
  # lr_schedule: "linear"
  # linear_cycle_iters: 16_000